---
import casingShoes from "../../assets/casingShoImg.jpg";
import { ProductStatic } from "./Product";
import corebitsImg from "../../assets/corebts-rhino-1.png";
import reamingShell from "../../assets/reamingshell-header-small.jpg";
import coreBarrels from "../../assets/core-barrel-2-small.jpg";
import rodsimg from "../../assets/rodsSmall.png";
import drillingAccessories from "../../assets/drill-accessories-1.png";
import { Image } from "astro:assets";
---

<section
  class="bg-secondary text-sixth py-20 something flex justify-center items-center lg:gap-36 gap-20 flex-col font-oswald z-50"
>
  <div class="flex lg:gap-60 mx-10 flex-col gap-5 lg:flex-row">
    <div class="lg:w-auto">
      <h2 class="text-6xl font-oswaldBold uppercase mb-4">Explorative <br/> drilling tools</h2>
      <p class="lg:w-[550px] font-oswaldLight">
        Our commitment extends beyond solving technical challenges to ensuring you have access to the highest quality components and equipment. 
      </p>
    </div>
    <div>
      <a
        class="bg-primary p-3 pr-28 flex justify-center items-center text-white hover:bg-sixth hover:text-primary transition-colors"
        href="/products/coringrig">Read more</a
      >
    </div>
  </div>
  <div
    class="grid grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-14 lg:mx-10 text-secondary z-50 mx-5"
  >
    <ProductStatic
      title={"Core Bits"}
      href={'/products/corebits'}
    >
    <Image quality={25} width={corebitsImg.width} height={corebitsImg.height} src={corebitsImg} alt={"Core bits"} class="lg:max-w-[350px] h-full" loading={"lazy"} decoding="async"/>  
    </ProductStatic>
    <ProductStatic
      title={"Reaming Shells"}
      href={"/products/reamingshells"}
    >
    <Image quality={40} width={reamingShell.width} height={reamingShell.height} src={reamingShell} alt={"Reaming shells"} class="lg:max-w-[350px] h-full" loading={"lazy"} decoding="async"/>  
    </ProductStatic>
    <ProductStatic
    href={'/products/casingshoes'}
      title={"Casing Shoes & Casing Bits"}
    >
    <Image quality={25} width={casingShoes.width} height={casingShoes.height} src={casingShoes} alt={"Casing shoes"} class="lg:max-w-[350px] h-full" loading={"lazy"} decoding="async"/> 
    </ProductStatic>
    <ProductStatic
      title={"Core Barrels"}
      href={'/products/corebarrels'}
    >
      <Image quality={25} width={coreBarrels.width} height={coreBarrels.height} src={coreBarrels} alt={"Core barrels"} class="lg:max-w-[350px] h-full" loading={"lazy"} decoding="async"/>
    </ProductStatic>
    <ProductStatic
      href={"/products/rods"}
      title={"Rods & Casing"}
    >
    <Image quality={15} width={rodsimg.width} height={rodsimg.height} src={rodsimg} alt={"Rods & casing"} class="lg:max-w-[350px] h-full" loading={"lazy"} decoding="async"/>
    </ProductStatic>
    <ProductStatic
      title={"Drilling Accessories"}
      href={"/products/drillingaccessories"}
    >
      <Image quality={5} width={drillingAccessories.width} height={drillingAccessories.height} src={drillingAccessories} alt={"Drilling accessories"} class="lg:max-w-[350px] h-full" loading={"lazy"} decoding="async"/>
    </ProductStatic>
  </div>
</section>
