---
import img1 from '../../assets/blog-1.jpg'
import img2 from '../../assets/blog-2.jpg'
import img3 from '../../assets/blog-3.jpg'
import { ProductStatic } from './Product';
---

<section
    class="bg-secondary text-sixth py-20 something flex justify-center items-center lg:gap-36 gap-20 flex-col font-oswald z-50"
  >
    <div class="flex lg:gap-60 mx-10 flex-col gap-5 lg:flex-row">
      <div class="lg:w-auto ">
        <h2 class="text-6xl font-oswaldBold uppercase mb-4">Accessory</h2>
        <p class="lg:w-[550px] font-oswaldLight">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla quae
          iste dolor eligendi dolorem voluptas fugit tempora blanditiis culpa
          quibusdam quo, harum, delectus vitae repellat.
        </p>
      </div>
      <div>
        <a
          class="bg-primary p-3 pr-28 flex justify-center items-center text-white hover:bg-sixth hover:text-primary transition-colors"

          href="/products/coringrig"
          >Read more</a
        >
      </div>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-14 lg:mx-10 text-secondary z-50 mx-5">
      <ProductStatic src={img1.src} alt={'img1'} title={'Experienced workers'} />
      <ProductStatic src={img2.src} alt={'img2'} title={'Automation solutions'} />
      <ProductStatic src={img3.src} alt={'img3'} title={'Professional support'} />
      <ProductStatic src={img1.src} alt={'img4'} title={'Experiences workers'} />
      <ProductStatic src={img2.src} alt={'img5'} title={'Automation solutions'} />
      <ProductStatic src={img3.src} alt={'img6'} title={'professional support'} />
    </div>
  </section>

