---
const {src, name, icon, info1, info2} = Astro.props;
---
<figure class="bg-tertiary w-[400px] min-w-[200px]">
    <img src={src} alt={name}>
    <div class="pt-4 pl-8 flex gap-4 items-center pb-1">
        <i class=`${icon} text-primary text-2xl` aria-hidden="true"></i>
        <strong class="uppercase">{name}</strong>
    </div>
    <div class="gap-3  text-[1rem] font-oswaldLight pl-[4.5rem] pb-4 pr-2" style={{letterSpacing: '1px'}}>
        <p>{info1}</p>
        <p>{info2}</p>
    </div>
</figure>