---
import { Image } from "astro:assets";

const { title, desc, imgSrc, imgMobile } = Astro.props;
---

<div class="flex">
  {imgSrc && <Image quality={30} loading="lazy" decoding="async" src={imgSrc} alt={title} class="w-20 mr-4 " />}
  {
    imgMobile && (
      <Image quality={30} loading="lazy" decoding="async" src={imgMobile} alt={title} class="w-20 h-20 mr-4 lg:hidden" />
    )
  }
  <div>
    <h3 class="text-2xl text-primary font-oswaldBold">
      {title}
    </h3>
    <p class="text-sm font-oswaldLight" style={{ lineHeight: "20px" }}>
      {desc}
    </p>
  </div>
</div>
